<div class="map">
    <div class="map__container">
        <div class="house"></div>
        <a [routerLink]="['/secrets/fire']">
            <div class="house house__fire"></div>
        </a>
        <a [routerLink]="['/secrets/garden']">
            <div class="garden"></div>
        </a>
        <a [routerLink]="['/select-pokemon']" >
            <div class="lab"></div>
        </a>
        <a [routerLink]="['/secrets/water']" >
            <div class="lake"></div>
        </a>
    </div>
</div>
