<div class="menu" cdkMenu>
        <a class="menu__link menu__link--hint card" cdkMenuItem [routerLink]="[urlSelectPokemon]">
                <div class="menu__item">
                        <div>Laboratorio</div>
                        <div class="menu__image-container">
                                <img class="menu__image" src="./../../../assets/images/map/lab.png" alt="">
                        </div>
                </div>
        </a>
        <a class="menu__link card" [class.menu__link--hint]="store.pokemon()?.type === pokemonType.fire" cdkMenuItem [routerLink]="[urlSecretFire]">
                <div class="menu__item">
                        <div class="menu__image-container menu__image-container--house">
                                <img class="menu__image" src="./../../../assets/images/map/house.png" alt="">
                        </div>
                        <div>Caldera</div> 
                </div>
        </a>
        <a class="menu__link card" [class.menu__link--hint]="store.pokemon()?.type === pokemonType.leaf" cdkMenuItem [routerLink]="[urlSecretLeaf]">
                <div class="menu__item">
                        <div>Jardín</div>
                        <div class="menu__image-container">
                                <img class="menu__image" src="./../../../assets/images/map/garden.png" alt="">
                        </div>
                </div>
        </a>
        <a class="menu__link card" [class.menu__link--hint]="store.pokemon()?.type === pokemonType.water" cdkMenuItem [routerLink]="[urlSecretWater]">
                <div class="menu__item">
                        <div class="menu__image-container">
                                <img class="menu__image" src="./../../../assets/images/map/laker.png" alt="">
                        </div>
                        <div>Piscina</div> 
                </div>
        </a>
</div>