<div class="header card">
    @if (userData()) {        
        <div class="header__userid-container">
            <div 
                class="header__image-container"
                [ngClass]="{
                    'header__image-container--ball': !selectedPokemon(),
                    'header__image-container--bulbasaur': selectedPokemon()?.name === 'bulbasaur',
                    'header__image-container--charmander': selectedPokemon()?.name === 'charmander',
                    'header__image-container--squirtle': selectedPokemon()?.name === 'squirtle'
                }"
            ></div>
        
            <div class="header__data-container">
                <div class="header__text--title">
                    {{selectedPokemon()?.name | titlecase}}
                </div>
                <div class="header__text--sub">
                    {{ userData()?.username }}
                </div>
            </div>
        </div>

        <div class="header__state-container">
            @if (userData()) {
                <div class="header__logout">
                    <button class="button button--secondary" (click)="onLogout()">Logout</button>
                </div>
            }
            <div class="header__data-container header__data-container--header">
                <span class="header__secret" [ngClass]="{'header__secret--active': secretsList()?.includes('fire')}">
                    <img class="header__secret--fire" src="../assets/images/pokemon/fire.png" alt="fire-secret image">
                </span>
                <span class="header__secret header__secret--water" [ngClass]="{'header__secret--active': secretsList()?.includes('water')}">
                    <img class="header__secret--water" src="../assets/images/pokemon/water.png" alt="water-secret image">
                </span>
                <span class="header__secret header__secret--grass" [ngClass]="{'header__secret--active': secretsList()?.includes('leaf')}">
                    <img class="header__secret--grass" src="../assets/images/pokemon/grass.png" alt="grass-secret image">
                </span>
            </div>
            <div class="header__icon">
                <a href="https://github.com/miguel-hv/poke-lab">
                    <span class="icon-info"></span>
                </a>
            </div>
        </div>
    }
    @else {
        <img class="header__login" src={{imageTitleSrc}} alt="">
    }

</div>

