<form class="form">
    <!-- input -->
    <!-- <mat-form-field >
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ej: pikachuPower" id="name" type="text" [formControl]="name"> 
        <mat-hint align="start">No reveles datos personales</mat-hint>
    </mat-form-field> -->
    <div class="form-field">
        <input class="form-field__input" placeholder="Ej: pikachuPower" id="name" type="text" [formControl]="name"> 
        <label class="form-field__label" for="name">Alias</label>
    </div>
    


    <!-- error messages -->
    @if (this.auth.errors() && this.auth.errors().login && !this.auth.errors().register) {
        <p>
            {{this.auth.errors().login | httpError: 'login' }}
        </p>
    }
    @if (this.auth.errors() && this.auth.errors().register) {
        <p>
            {{this.auth.errors().register | httpError: 'register' }}
        </p>
    }

    @if (this.name.hasError('alphanumerical')) {
        <p>
            El nombre no puede contener caracteres especiales   
        </p>
    }

    <!-- buttons register/login -->
    <button class="button card__button" type="button" (click)="onSubmitForm()">Entrar</button>
</form>