<form>

    <!-- input -->
    <label for="name">Name: </label>
    <input id="name" type="text" [formControl]="name" placeholder="username">

    <!-- error messages -->
    @if (this.auth.errors().login) {
        <p>
            {{this.auth.errors().login | httpError }}
        </p>
    }
    @if (this.auth.errors().register) {
        <p>
            {{this.auth.errors().login | httpError }}
        </p>
    }
    <!-- redirect to register -->
    @if (this.auth.errors().login === 403) {
        <p>
            Si aún no tienes cuenta o no recuerdas tu nombre de usuario, <a [routerLink]="['/register']">puedes registrarte aquí</a>
        </p>
    }

    <!-- buttons register/login -->
    @if (formType() === 'register') {
        <button type="button" (click)="onSubmitRegister()">Registrarse</button>
    } @else if (formType() === 'login') {
        <button type="button" (click)="onSubmitLogin()">Iniciar Sesión</button>
    } @else {
        <div>
            Algo no ha funcionado como debía.
        </div>
        <button>Volver atrás</button>
    }
</form>