/*
    VARIABLES: settings, mixins and variables
*/

@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin center-column {
    @include center-element;
    flex-direction: column;
}

//fonts
@mixin font-poke {
    font-family: "Nova Square", sans-serif;
    font-weight: 400;
    font-style: normal;
}
$font-main: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    //fixed dimensions
$header-height: 10.25rem;
    //z-index layers
$bottom-layer-index: -1;

    //colors
$white: hsl(0, 0%, 98%);