/**
 * The flex object simply boxes off content into flex container. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. So we can apply the `.o-flex` class to naturally-inline elements.
 */

 .o-flex {
    display: flex;
  
  &--center {
    justify-content: center;
    align-items: center;
  }
}
