<div class="screen-container__end">
    <div class="card end__container">
        <a href="https://github.com/miguel-hv/poke-lab">
            <div class="end__image"></div>
        </a>
        <h1 class="end__title">
            ¡Has completado el juego!
        </h1>
        <a href="https://github.com/miguel-hv/poke-lab">
            <div class="button button--action button--link">
                <p>
                    Info, documentación y código
                </p>
                <img class="button--image" src="../../../assets/images/github.png" alt="image github logo">
            </div>

        </a>
        <button class="button button--secondary end__button" (click)="onStartAgain()">Comenzar de nuevo</button>
    </div>
</div>