<div class="screen-container__access">
    <div class="welcome-dialog">
        <div class="welcome-dialog__main-info">
            <div class="welcome-image">
            <img src="./../../../../../assets/images/pokemon/oak2.png" alt="image">
            </div>
            <div class="welcome-dialog__main-text">
                <p>
                    ¡Te doy la bienvenida a Pueblo Paleta!
                </p>
            </div>
        </div>
    </div>
    <div class="map__container">
        <img class="map__image" src="./../../../assets/images/map/map.jpg" alt="image">
    </div>

    <div class="card card--p-l welcome-call">
        <p class="welcome-call__text">
            Consigue los secretos de fuego, agua y planta en las distintas ubicaciones.
        </p>
        <button class="button" (click)="onActionButton()">¡Vamos allá!</button>
    </div>
</div>