@import '@angular/cdk/overlay-prebuilt.css';
@import './styles/reset.scss';
@import "./styles/imports/settings.imports";
@import './styles/imports/objects.imports.scss';
@import './styles/imports/utilities.imports.scss';

// reset

html, body {
    height: 100vh;
    margin: 0;
}

body {
    --text-color: #222;
    --bkg-color: #f9f9f9;
    // background-image: url("./assets/images/map.jpg");
}
body.leaf-theme {
    --main-color: green;
    --bkg-color: lightgreen;
}
body.fire-theme {
    --main-color: red;
    --bkg-color: coral;
}
body.water-theme {
    --main-color: blue;
    --bkg-color: lightblue;
}


body {
    background-color: var(--bkg-color);
}

h1,p {
    color: var(--text-color);
}

//mixins (drafting) and variables
@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

$header-height: 10.25rem;

//components

.screen-container {
    max-width: 390px;
    height: 100vh;
    margin: auto;
}

.header {
    display: flex;
    padding: 2rem 1rem;
    justify-content: space-between;
    max-height: $header-height;

    &__userid-container {
        display: flex;
        gap: 1.5rem;
    }
    &__data-container {
        display: flex;
        justify-content: space-around; 
        flex-direction: column;
    }
    &__image-container {
        overflow: hidden;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    &__state-container {
        @include center-element;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    height: calc(100% - $header-height);
    justify-content: space-evenly;  
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    } 
    &__image-container {
        width: 45%;
        max-width: 180px;
        &--house {
            padding: 20px;
        }
    } 
    &__image {
        width: 100%;
    } 
}