@import '@angular/cdk/overlay-prebuilt.css';
@import './styles/reset.scss';
@import "./styles/imports/settings.imports";
@import './styles/imports/objects.imports.scss';
@import './styles/imports/utilities.imports.scss';

// TODO: meter fichero reset

html, body {
    height: 100vh;
    margin: 0;
}

body {
    --text-color: #222;
    --bkg-color: #f9f9f9;
    // background-image: url("./assets/images/map.jpg");
}
body.leaf-theme {
    --main-color: green;
    --bkg-color: lightgreen;
}
body.fire-theme {
    --main-color: red;
    --bkg-color: coral;
}
body.water-theme {
    --main-color: blue;
    --bkg-color: lightblue;
}


body {
    background-color: var(--bkg-color);
}

h1,

p {
    color: var(--text-color);
}

// TODO: cambiar a otro fichero
.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;    
}

.header {
    display: flex;
    padding: 2rem 1rem;
    &__image-container {
        overflow: hidden;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

}