@import '@angular/cdk/overlay-prebuilt.css';
@import './styles/reset.scss';

// reset

html, body {
    height: 100vh;
    margin: 0;
}

body {
    --text-color: #222;
    --bkg-color: #f9f9f9;
    // background-image: url("./assets/images/map.jpg");
}
body.leaf-theme {
    --main-color: green;
    --bkg-color: lightgreen;
}
body.fire-theme {
    --main-color: red;
    --bkg-color: coral;
}
body.water-theme {
    --main-color: blue;
    --bkg-color: lightblue;
}


body {
    background-color: var(--bkg-color);
}

h1,p {
    color: var(--text-color);
}

//mixins (drafting) and variables
@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@mixin font-poke {
    font-family: "Nova Square", sans-serif;
    font-weight: 400;
    font-style: normal;
}

$header-height: 10.25rem;

//components

.screen-container {
    &__full-screen {
        max-width: 390px;
        height: 100vh;
        margin: auto;
    }
    &__main {
        @include center-element;
        height: calc(100vh - $header-height);
    }   
}

.header {
    display: flex;
    padding: 2rem 1rem;
    justify-content: space-between;
    max-height: $header-height;

    &__userid-container {
        display: flex;
        gap: 1.5rem;
    }
    &__image-container {
        overflow: hidden;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        background-position: center;
        background-size: 180%;
        &--bulbasaur {
            background-image: url(./assets/images/pokemon/bulbasaur_sprt.png);
        }
        &--charmander {
            background-image: url(./assets/images/pokemon/charmander_sprt.png);
        }
        &--squirtle {
            background-image: url(./assets/images/pokemon/squirtle_sprt.png);
        }
    }
    &__data-container {
        display: flex;
        justify-content: space-around; 
        flex-direction: column;
    }
    &__state-container {
        @include center-element;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    height: calc(100% - $header-height);
    justify-content: space-evenly;  
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    } 
    &__image-container {
        width: 45%;
        max-width: 180px;
        &--house {
            padding: 20px;
        }
    } 
    &__image {
        width: 100%;
    } 
}

.dialog {
    position: relative;
    @include font-poke;

    &__image-container {
        z-index: -1;
        position: absolute;
        top: -150px;
    }
    &__text {
        padding: 1rem 0.5rem;
    }
    &__buttons-container {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        padding: 1rem;
        padding-top: 0;
    }
}